.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOME */
.container{
display: flex;
justify-content: space-between;

}
.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
 margin: 0 auto;
  gap: 20px;
}
.sidebar-basket{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;  /* border-style: solid; */
  width: 400px;
 
}

/* SIGN UP */
#signup{
  color: white;
}

/*cart*/
.h2{
  margin-top: 1px;
}


/* .cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px 90px;
} */
.column {
  display: flex;
  justify-content: space-between;
}
.column2{
  display: flex;
  flex-direction: column;  
}


.row{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.price {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  color:black;
  font-family:'Courier New', Courier, monospace;
}

/* BASKET CSS*/



.container-cart{
  display: grid;
  grid-template-columns: 40% 60%;
  height:50% ;
  padding: 5px;
}
.title-cart {
 font-size: 17px;
 color: grey;
 font-family:AriaL, HeLvetica, sans-Serif !important;
 font-weight: lighter;
 margin: 0%;
}

.price-cart{
  font-size: 12px;
}
.left-side img{
  background-size: cover;
  height:100%;
  width:100%;
  
}
.right-side{
  padding: 5px;
}
.price-delete{
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

/* .counter1{
  display: flex;
  margin-bottom: 10px;
  width: 20%;
  
  
  
} */
.addicon{
  display: flex;
 padding: 1px;
}
.counter {
  display: flex;
  justify-content: space-between;
  border: #D0D0D0;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;

}
#span{
  font-size: 13px;
  color:#282c34;
}
.span {
  font-size: 14px;
  padding: 4px;  
  color: #505050;

}
.tot{
  margin: 5px;
}
.row1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.click {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

}
.total{
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
#clear {
  padding: 15px;
  width: 40%;
  /* background-color:beige; */
  border: #282c34;
  border-style: solid;
  border-width: 1px;
  /* background-color: #282c34; */
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#checkout {
  padding: 15px;
  width: 40%;
  /* background-color:beige; */
  border: #282c34;
  border-style: solid;
  border-width: 1px;
  /* background-color: #282c34; */
  color: white;
  font-size: 18px;
  cursor: pointer;
}
 
.span2{
  display: flex;
  justify-content: end;
  margin: 1rem;
  font-size: 15px;
  align-items: center;
}
#clear 
/*home*/
 

.empty-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  margin-top: 15rem;

}

.container-quantity{
  display: flex;
  border: solid 1px;
  align-items: center;
}
.minus{
  margin: 6px;
}
.plus{
  margin: 6px;
}
.quantity{
  margin: 12px ;
}
.quan{
  margin-bottom: 5px;
}

/* register shop */
.review{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  line-height: 2;
}
.items{
  display: flex;
  justify-content: space-between;
}